<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>File Uploader</title>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <script src='./static_files/js/index.js'></script>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-xl-6">
                <div class="card" id='app'>
                    <h1>File Uploader</h1>
                    <div class="card">
                        <div class="card-body">
                            <form action="/api/files" method='POST' enctype="multipart/form-data">
                                <input type="file" name='data'/>
                                <button class="btn btn-block btn-secondary btn-sm">
                                    <i class="material-icons">send</i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div v-if='files == null' class="justify-content-center">
                                <img src="./static_files/image/loading_good.gif" alt="loading" width='100%'>
                            </div>
                            <div v-if='files != null && files.length < 1' v-else>
                                <p>File not found.</p>
                            </div>
                            <div class="card" v-for='file in files' v-else>
                                <p>[[file.display_name]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>