<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>File Uploader</title>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='./static_files/js/index.js'></script>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-xl-6">
                <div class="card" id='app'>
                    <h1>File Uploader</h1>
                    <div class="card">
                        <div class="card-body">
                            <form action="/api/files" method='POST' enctype="multipart/form-data"
                                v-on:submit='uploadFile'>
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-secondary">
                                            ファイルを選択
                                            <input type='file' style='display: none' name='data'
                                                v-on:change='onUploadFileChange' />
                                        </span>
                                    </label>
                                    <input type="text" class='form-control' v-bind:value='selected_filename' readonly />
                                </div>
                                <button class="btn btn-primary align-items-center " type="submit">
                                    <i class="material-icons" style="font-size: 1rem;">cloud_upload</i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <div v-if='files == null' class="justify-content-center">
                            <img src="./static_files/image/loading_good.gif" alt="loading" width='100%' />
                        </div>
                        <div v-if='files != null && files.length < 1'>
                            <p>File not found.</p>
                        </div>
                        <div class='list-group' v-else>
                            <div class="list-group-item d-flex justify-content-between align-items-center"
                                v-for='file in files'>
                                [[file.display_name]]
                                <span>
                                    <a v-bind:href="file.download_url">
                                        <button class="btn btn-large">
                                            <i class="material-icons">save_alt</i>
                                        </button>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>